<h1>Bonjour!</h1>

<p>
    Merci de confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Email Confirmation</a>.
    Ce lien expirera dans: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne chance!
</p>
