{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Connectez-vous</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                   {{ form_start(loginForm) }}
                        <div class="form-floating mb-3">
                            {{ form_row(loginForm.username) }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form_row(loginForm.password) }}
                        </div>

                         <!-- Submit Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">
                                Connectez
                            </button>
                        </div>

                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
