{% extends 'base.html.twig' %}

{% block title %}
    Réinitialisez le mot de passe
{% endblock %}

{% block body %}
<!-- Reset password form-->
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <h1 class="fw-bolder">Réinitialisez votre mot de passe</h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            {{ form_start(resetPasswordForm) }}
                <div class="form-floating mb-3">
                    {{ form_row(resetPasswordForm.username) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_row(resetPasswordForm.password) }}
                </div>

                    <!-- Submit Button-->
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">
                        Réinitialisez
                    </button>
                </div>

            {{ form_end(resetPasswordForm) }}
        </div>
    </div>
</div>
{% endblock %}
